<div class="row">

  <div class="col-sm-6">
    <app-carrusel
      [arregloEquipos]="arregloEquipos"
    ></app-carrusel>
  </div>

  <div class="col-sm-6">
    <app-formulario-principal
      (clickEnIngresar)="ingresarEquipo($event)"
      [arregloLigas]="arregloLigas"
    ></app-formulario-principal>
  </div>

  <div class="col-sm-12" style="height: 25px"></div>

  <div class="col-sm-12 container-fluid">
    <h3>Selecciona un equipo:</h3>
    <div class="row">
      <div class="col-sm-3 " *ngFor="let equipo of arregloEquipos; let indice = index">
        <div class="jumbotron jumbotron-fluid" (click)="mostrarCard(indice)">
          <div class="container "style="text-align: center">
            <h5>{{equipo.nombreEquipo}}</h5>
            <p>Liga: {{equipo.liga}}</p>
            <p>Copas Totales: {{equipo.copas}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <app-formulario-secundario
      (clickEnIngresar)="ingresarJugador($event)"
      [idEquipo]="equipoClick+1"

    ></app-formulario-secundario>
  </div>

  <div class="col-sm-6">
    <app-card-equipo
      [equipo]="arregloEquipos[equipoClick]"
    ></app-card-equipo>
  </div>

  <div class="col-sm-12" style="height: 25px"></div>

  <div class="col-sm-12 table-responsive">
    <h3>Jugadores:</h3>
    <app-tabla-jugadores
      [jugadores]="arregloEquipos[equipoClick].jugadores"
    ></app-tabla-jugadores>
  </div>

</div>
