
<form class="example-form" #datosForm="ngForm" (ngSubmit)="mostrarInformacion($event, datosForm)">
  <legend class="text-center">
    <h4>INGRESA UN EQUIPO</h4>
  </legend>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre del equipo" name="nombreEquipo" required [(ngModel)]="nombreEquipo">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Liga perteneciente" name="liga" required  [(ngModel)]="liga">
      <mat-option *ngFor="let liga of arregloLigas" [value]="liga">
        {{ liga }}
      </mat-option>
    </mat-select>
  </mat-form-field>



  <mat-form-field class="example-full-width">
    <input matInput type="date" placeholder="Fecha de Creación"name="fechaCreacion" required [(ngModel)]="fechaCreacion">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" placeholder="Copas Internacionales"name="copas" required [(ngModel)]="copas">
  </mat-form-field>

  <mat-slide-toggle name="esCampeonActual" required  [(ngModel)]="esCampeonActual">Campeón Actual</mat-slide-toggle>


  <br>
  <br>
  <button mat-raised-button type="reset">Limpiar</button>
  <button mat-raised-button color="primary" type="submit">Enviar</button>

</form>

