<p-card title="Información del Equipo" [subtitle]="nombreEquipo" [style]="{width: '360px'}" styleClass="ui-card-shadow">

  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
  <p-footer>
    <button pButton type="button" label="Save" icon="fa-check"></button>
    <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary"></button>
  </p-footer>
</p-card>
