<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre Completo</th>
    <th scope="col"># Camiseta</th>
    <th scope="col">Nombre Camiseta</th>
    <th scope="col">Posición</th>
    <th scope="col">Fecha de Ingreso</th>
    <th scope="col">Goles Totales</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let jugador of jugadores">
    <th scope="row">1</th>
    <td>{{jugador.nombreCompletoJugador}}</td>
    <td>{{jugador.numeroCamiseta}}</td>
    <td>{{jugador.nombreCamiseta}}</td>
    <td>{{jugador.posicion}}</td>
    <td>{{jugador.fechaIngreso | date}}</td>
    <td>{{jugador.goles}}</td>
  </tr>

  </tbody>
</table>
